doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width; initial-scale=1.0;')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='x-apple-disable-message-reformatting')
        link(href="./normalize.css", rel="stylesheet" data-inline="data-inline")
        link(href="./extra.css", rel="stylesheet" data-inline="data-inline")
        link(href="./email.css", rel="stylesheet" data-inline="data-inline")
        block head
    body
        header.title
        .main
            .container
                h1 TradeMachine
                block content
        footer
