.DS_Store
**/nohup.out
.env
dist

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Ignore migrations for now. We use diff schemas in development vs public so it's easier to just generate migration in prod as needed for now.
src/db/migrations-old
src/db/migrations
tests/coverage
