.DS_Store
**/nohup.out
.env
dist
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
node_modules
.npm
src/db/migrations-old
src/db/migrations
tests/coverage
sheet_creds.json
/.prod.env
/tsconfig.old.json
