extends ../includes/layout.pug

block head
    link(href="./reset_password/styles.css", rel="stylesheet")
    title Trade Machine Password Reset

block content
    h2 Forgot Your Password?
    p Hi #{name}, you are receiving this email because you have requested a password reset for your account. #[br]#[br]
    p Please click on the following link to complete the process:
    a.button-link(href=`${url}`)
        span Reset Password
    .divider
