body,
html,
.body {
    /*background: #f3f3f3 !important;*/
    background: url(https://i.imgur.com/MIOpn55.jpg);
}
.header {
    background: #f3f3f3;
}

.body {
    margin-top: 20% !important;
}

.title {
    font-family: 'Graduate', serif;
    letter-spacing: 2px;
}

.text, a.float-center.text {
    font-family: 'Lora', serif;
    letter-spacing: 2px;
}

.text.no-space {
    letter-spacing: 0;
}

/*html {*/
    /*background: url(https://i.imgur.com/MIOpn55.jpg);*/
    /*background-size: cover;*/
/*}*/
