a.button-link {
    background-color: #3ba597;
    display: inline-block;
    border: 2px solid transparent;
    color: #fff;
    padding: calc(.375em - 1px) .75em;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    text-decoration: none;
    margin-left: 25%;
    white-space: nowrap;
    height: 1.5em;
    vertical-align: top;
    line-height: 1.5;
    /*margin-top: 1.5rem;*/
}

@media only screen and (max-width:700px) {
    a.button-link {
        background-color: #4abdad;
        margin: 0 !important;
        text-decoration: underline;
    }
}

