a.button-link {
    background-color: #3273dc;
    display: inline-block;
    border: 1px solid transparent;
    color: #fff;
    padding: calc(.375em - 1px) .75em;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: none;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 25%;
    white-space: nowrap;
    height: 1.5em;
    vertical-align: top;
    line-height: 1.5;
    /*margin-top: 1.5rem;*/
}
