extends ../includes/layout.pug

block head
    link(href="./registration_email/registration.css", rel="stylesheet")
    title Trade Machine Registration Invite

block content
    h2 Invitation to Register
    p Hi #{name}, you have been invited to register on Trade Machine. This will allow you to submit trades with other members of the Flex Fox Fantasy Baseball League.
    p Please click on the following link to complete the process:
    a.button-link(href=`${url}`)
        span Register
    .divider
