/*@import url('https://fonts.googleapis.com/css?family=Graduate');*/

header {
    /*height: 200px;*/
    height: 25%;
    background-color: #4abdad;
    padding: 20px;
    /*background: #244c8e;*/
    color: #f8f8f8;
    /*background-image: url("https://i.imgur.com/jqlYp2Y.png");*/
    /*background-size: cover;*/
    background-position: center center;
    background-repeat: no-repeat;
    /*background-position: 0 60%;*/
    font-size: 18px;
    text-align: center;
}

header h1, header h2 {
    margin: 0;
}

header .title {
    font-size: 150%;
    /*height: 30%;*/
    /*padding: 20px;*/
    text-align: center;
}

header .subtitle {
    /*height: 50%;*/
    font-size: 200%;
}

header .title, header .subtitle {
    /*color: #4285f4;*/
    /*font-family: 'Graduate', "Times New Roman", Times, serif;*/
}

main {
    /*height: 300px;*/
    height: 70%;
    background: #0074D9;
}

main .container {
    width: 50%;
    margin-left: 25%;
    padding: 5% 0;
}

footer {
    /*height: 100px;*/
    height: 5%;
    /*background: #C21F39;*/
    background: #4abdad;
}

@media only screen and (max-width:700px) {
    header {
        height: 100px !important;
        font-size: 55% !important;
        background-size: cover;
    }
    footer {
        height: 50px !important;
    }
    /*header .title {*/
        /*font-size*/
    /*}*/
}
