extends ../includes/layout.pug

block head
    title Trade Machine Test Email

block content
    main
        .container
            h2 Testing... Testing...
            p Hi #{name}, this is a test email.
